nav a{
  margin-right: 10px;
}

.nav-pills .nav-link.active {
  color: #204d7b;
  background-color: #007bff73;
}

.tags {
  margin-top: 15px;
}

.mini-counts{
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;  
  margin: auto 0px;
}

.questions {
  left: 15px;
}

.cards {  
  display: inline-block;
  margin: 0 15px 0 0;
  height: auto;
  font-size: 15px;
  padding: 6px;
  border: 1px solid transparent;
  border-radius: 3px;
  border-color: rgba(69,161,99,0.5);
  color: #45A163;
  text-align: center;
}

.questions-summary {
  padding: 15px;
  border-bottom: 1px solid #b9b9b9;
}

.active-nav{
  font-weight: bold;
  background: rgba(12,13,14,0.05);
  color: #0C0D0E;
  border-right: 3px solid #007bff;  
}

.content-border{
  padding-left: 0px;
  border-left: 1px solid #c7c7c7;
}
.sidebar {
  height: -webkit-fill-available;
  padding-right: 0px;
}
.react-modal-header {
  justify-content: space-between;
  padding: 5px 5px;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;  
}

.modal-body .input-group-text{
  width: 125px
}

.authentication button{
  margin: 5px;
}

.react-modal {  
opacity: 1;
left: calc(40% - 100px);
top: calc(40% - 100px);
position: absolute;
z-index: 1050;

width: 400px;
overflow: hidden;
outline: 0;
}

.top-bar{
  line-height: 3;
  background-color: #fafafb;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);  
}
.align-right{
  float: right;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
